/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

img {
    width: 600px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.content {
    text-align: left;
    flex: 1;
}

h1, h2 {
    color: #4CAF50;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#display, #price {
    font-size: 24px;
    font-weight: bold;
}

#yes, #no {
    background-color: #008CBA;
}

#yes:hover, #no:hover {
    background-color: #007bb5;
}
